# ==========================
# Device
# ==========================
DEVICE_ID={}

# ==========================
# Serial
# ==========================
SERIAL_PORT=/dev/ttyUSB0
SERIAL_BAUDRATE=57600
SERIAL_TIMEOUT=1.0
SERIAL_RECONNECT=true

# ==========================
# MQTT
# ==========================
MQTT_BROKER={}
MQTT_PORT={}
MQTT_USERNAME={}
MQTT_PASSWORD={}
MQTT_USE_TLS={}